<div class="alert alert-primary">
    All fields are required
</div>
<div class="form-group">
    <label for="name">Name</label>
    <input value="{{supplier.name}}" type="text" class="form-control" id="name" name="name" aria-describedby="nameHelp" placeholder="Enter name">
    <small id="nameHelp" class="form-text text-muted">Name of this supplier</small>
</div>
<div class="form-group">
    <label for="address">Address</label>
    <input value="{{supplier.address}}" type="text" class="form-control" id="address" name="address" aria-describedby="addressHelp" placeholder="enter address">
    <small id="addressHelp" class="form-text text-muted">Address for this supplier</small>
</div>
<div class="form-group">
    <label for="city">City</label>
    <input value="{{supplier.city}}" type="text" class="form-control" id="city" name="city" aria-describedby="cityHelp" placeholder="enter city">
    <small id="cityHelp" class="form-text text-muted">City for this supplier</small>
</div>
<div class="form-group">
    <label for="state">State</label>
    <input value="{{supplier.state}}" type="text" class="form-control" id="state" name="state" aria-describedby="stateHelp" placeholder="enter state">
    <small id="stateHelp" class="form-text text-muted">State for this supplier</small>
</div>
<div class="form-group">
    <label for="email">Email</label>
    <input value="{{supplier.email}}" type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="enter email">
    <small id="emailHelp" class="form-text text-muted">Email for this supplier</small>
</div>
<div class="form-group">
    <label for="phone">Phone</label>
    <input value="{{supplier.phone}}" type="text" class="form-control" id="phone" name="phone" aria-describedby="phoneHelp" placeholder="enter phone">
    <small id="phoneHelp" class="form-text text-muted">Phone number for this supplier</small>
</div>