[Unit]
Description=Locust Daemon

[Service]
User=root
WorkingDirectory=/architect-cloud/sample-application/load-test/
ExecStart=/usr/local/bin/locust -f locust-load-test.py

Restart=always

[Install]
WantedBy=multi-user.target
