[Unit]
Description=myapp
After=network.target

[Service]
User=root
WorkingDirectory=/architect-cloud/sample-application/load-test/
ExecStart=/architect-cloud/sample-application/load-test/locust -f locust-load-test.py

Restart=always

[Install]
WantedBy=multi-user.target
