[Unit]
Description=myapp
After=network.target

[Service]
User=root
WorkingDirectory=/home/ec2-user/architect-cloud/sample-application/load-test/
ExecStart=/home/ec2-user/architect-cloud/sample-application/load_test/locust -f locust-load-test.py

Restart=always

[Install]
WantedBy=multi-user.target
