<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/img/espresso.jpg" width="200">
    <div><a class="navbar-brand page-title" href="/supplier">Monolithic Coffee suppliers</a></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
                <a class="nav-link" href="/suppliers">Suppliers list</a>
            </li>
        </ul>
    </div>
</nav>