[Unit]
Description=myapp
After=network.target

[Service]
User=root
WorkingDirectory=/home/ec2-user/architect-cloud/sample-application/flask-inference/
Environment="PATH=/home/ec2-user/architect-cloud/sample-application/flask-inference/venv/bin"
ExecStart=/home/ec2-user/architect-cloud/sample-application/flask-inference/venv/bin/python main.py
Restart=always

[Install]
WantedBy=multi-user.target
